/* CSS files add styling rules to your content */

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background-color: black;
}

h1 {
  font-family: 'Solway', serif;
  color: #FFEC8C;
}

h3 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 15px;
  color: #000000;
}

.frameSize {
  position: absolute;
  width: 100%;
  height:100%;
}

#titleHeader {
  background-color: #0C5382;
  width: 100%;
  text-align: center;
  padding-top: 1.3%;
  padding-bottom: 0.5%;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #FFEC8C;
  padding-bottom: 1%;
}

#background {
  min-height: 100%;
  background-image: url("https://images.pexels.com/photos/1054220/pexels-photo-1054220.jpeg?cs=srgb&dl=background-blue-blue-sky-1054220.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#infoContainer {
  text-align: center;
  padding-top: 10%;
  padding-right: 20%;
  padding-left: 20%;
}

#infoBox {
  padding: 5%;
  border-radius: 1rem;
  background: rgb(12,83,130,0.4);
  text-align: center;
}

.push_button {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.push_button:hover {
  -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
  filter: grayscale(50%);
}

.locationButton {
  background: url("https://cdn.glitch.com/c9cb54ef-c629-4d21-baf7-56bf073b6154%2FarrowButton.png?v=1575422484006");
  border-color: rgba(0, 0, 0, 0);
  width: 6%;
  height: 3.5rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#location {
  width: 50%;
}

#countryName: {
  margin-top: 100%;
}